Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used libraried for Data Science
- Present examples evaluating arithmetic expressions in Python

Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. JavaScript

Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. Matplolib
3. TensorFlow

Exercise 6 - Create a markdown cell with a table of Data Science tools

# Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter            |
| RStudio            |
| Spyder             |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Here are some examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

See below exercise 3

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Jardon Schlieckau